{# 
vim:filetype=htmldjango:
#}
{% extends '@CRUD/edit.html' %}

{% block section_body %}
<form class="ajax-action form-horizontal" enctype="multipart/form-data" method="POST">
    {{ CRUD.Action.renderSignatureWidget|raw }}
    {{ CRUD.Action.renderCSRFTokenWidget|raw }}

    {% if CRUD.Record.id %}
        {{ forms.hidden('id', CRUD.Record.id) }}
    {% endif %}

    {{ CRUD.Action.renderField('name') |raw }}

    {{ CRUD.Action.renderField('handle') |raw }}

    {% if bundle.config('with_lang') or bundle.config('lang') %}
      {{CRUD.Action.renderField('lang')|raw}}
    {% endif %}

    <div class="clearfix">
      <div class="col-field">
        {{ CRUD.Action.renderField('width') |raw }}
      </div>
      <div class="col-field">
        {{ CRUD.Action.renderField('height') |raw }}
      </div>
    </div>

    {{ CRUD.Action.renderField('remark') |raw }}

</form>
{% endblock %}
