{% extends "@CRUD/list_inner.html" %}
{% block list %}
<script>
$(function() {
    Holder.add_theme("free", { background: "#fff", text: "Free Size" })
});
</script>
<style>
    .ui-placeholder { 
        height: 100px; 
        width: 100px; 
        float: left; 
        margin:10px; 
        background: #ddd;
        border: 1px solid #bbb;
    }
    .banner-category { 
        margin-bottom: 10px;
        border-top: 1px solid #ccc;
    }
    .banner-category .category-name {
        color: #666;
        font-weight: bold;
        text-shadow: 0px 0px 2px #ccc;
        padding: 5px 8px;
        border-radius: 5px;
    }
    .banner-category .control { float: right; }
    .banner-category .no-data {
        margin-left: 20px;
        color: #aaa;
        font-weight: bold;
    }


    .dropzone.dropbox-drag-over {
        border: 1px solid #88bb33;
        background: #cf6;
    }
</style>

<div class="clear"> </div>
{% if not CRUD.Items %}
    <div class="notice">目前無資料</div>
{% endif %}

{% for category in CRUD.Items %}

<div class="banner-category">
    <div class="category-name">
        {{ category.name }} ({{ category.handle }})

        <span class="control">
            {% if CRUD.Object.canEdit %}
            <input 
                type="button"
                class="button category-edit" 
                onclick=" Region.before( $(this).parents('.section').get(0) , '/bs/banner_category/crud/edit',{ id: {{ category.id }} });"
                value="{% trans 'Edit' %}"/>
            {% endif %}

            {% if CRUD.Object.canDelete %}
            <input type="button" 
                class="button category-delete" 
                onclick=" runAction( 'BannerSlider::Action::DeleteCategory',
                    { id: {{ category.id }}  },
                    { confirm: '確認刪除? ', remove: $(this).parents('.banner-category') } );" 
                value="{% trans 'Delete' %}"/>
            {% endif %}
        </span>
    </div>
    <div id="banner-category-images-{{ category.id }}" 
        class="banner-category-images sortable"
        data-items=".image-cover"
        data-action="BannerSlider::Action::SortImage"
        data-fields=".image-cover input[type=hidden]"
        data-image-width="{{category.width}}"
        data-image-height="{{category.height}}">

        <div id="previewContainer{{category.id}}" class="cover" style="float: left; position: relative;">
            <div id="dropzone{{category.id}}" class="dropzone" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;"> </div>
            {% if category.width and category.height %}
                <img data-src="holder.js/{{category.width}}x{{category.height}}/auto"/>
            {% else %}
                <img data-src="holder.js/300x150/text:Free Size"/>
            {% endif %}
        </div>
        <script>
        $(function() {
            Holder.run({images: $('#previewContainer{{category.id}} img').get(0) });

            var $container = $('#previewContainer{{category.id}}');
            var $dropzone = $container.find('.dropzone');

            var $progress = $('<div/>').addClass("upload-progress")
                $progress.hide().appendTo($container);

            var uploader = new FiveKit.DropBoxUploader({ 
                el: $dropzone,
                queueEl: $progress,
                action: 'CoreBundle::Action::Html5Upload',
                onDrop: function(e) {
                    $progress.empty().show();
                },
                onTransferComplete: function(e,result) {
                    if ( result.success ) {
                        if ( result.data && result.data.file ) {
                            runAction('BannerSlider::Action::CreateImage',{
                                image: result.data.file,
                                title: (result.data.basename || 'Untitled'),
                                category_id: {{category.id}}
                            });
                        } else {
                            console.error('Missing data');
                        }
                    }
                },
                onTransferFinished: function(e) {
                    $progress.fadeOut()
                    Region.of($container).refresh()
                }
            });
        });
        </script>
        <div class="clearfix"> </div>

        {% set images = category.getImages() %}
        {% if not images.size() %}
            <div class="no-data">{% trans 'Currently no images in this category' %}</div>
        {% endif %}
        {% for item in images %}
            {% include '@BannerSlider/banner_image/image.html' %}
        {% endfor %}


        <div class="clear"> </div>
    </div>
    <div class="clear"> </div>


    {#
    <div id="dropbox-container-{{ category.id }}" class="dropbox-container">
    </div>
    <script type="text/javascript">
    $(function() {
        var $container = $('#dropbox-container-{{ category.id }}');
        var $detector = $('#banner-category-images-{{ category.id }}');
        var conn = new FiveKit.DropBoxActConnection({
            container: $container,
            detector:  $detector,
            uploadAction: 'CoreBundle::Action::Html5Upload',
            onTransferFinished: function(e) {
                Region.of( $detector.get(0) ).refresh()
            },
            onTransferComplete: function(resp) {
                runAction('BannerSlider::Action::CreateImage',{
                    image: resp.data.file,
                    category_id: {{category.id}}
                });
            }
        });
    });
    </script>
    #}

</div>
{% endfor %}
<div class="clear"> </div>

<script>
// initialize sortable
$(function() {
    $('.sortable').each(function(i,e) {
        initSortableAction($(this), {
            onUpdate: function(resp) {
                if ( window.console ) {
                    console.log(resp);
                }
            }
        });
    });
});
</script>
{% endblock %}
