{#
vim:filetype=htmldjango:
#}
{% extends "@CRUD/list_inner.html" %}
{% block list %}
<script>
$(function() {
    Holder.add_theme("free", { background: "#fff", text: "Free Size" })
});
</script>
<style>
    .ui-placeholder { 
        height: 100px; 
        width: 100px; 
        float: left; 
        margin:10px; 
        background: #ddd;
        border: 1px solid #bbb;
    }
    .banner-category { 
        margin-bottom: 10px;
        border-top: 1px solid #ccc;
    }
    .banner-category .category-name {
      color: #666;
      font-weight: bold;
      padding: 5px 8px;
    }
    .banner-category .no-data {
      margin-left: 20px;
      color: #aaa;
      font-weight: bold;
    }
    .dropzone.dropbox-drag-over {
        border: 1px solid #88bb33;
        background: #cf6;
    }
    .cover {
      position: relative;
    }
    .cover .remove .fa {
      margin: 0;
      vertical-align: top;
      line-height: 2em;
    }
    .cover .remove {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 2em;
      width: 2em;
      font-size: 1em;
      line-height: 2em;
      vertical-align: top;
      text-align: center;
      transition: all ease 500ms;
      background: rgba(255,255,255,0.2);
    }
    .cover:hover .remove {
      background: rgba(255,255,255,0.5);
    }
    .cover:hover .remove:hover {
      background: rgba(255,255,255,1);
    }
</style>


{% if not CRUD.Items %}
    <div class="notice">目前無資料</div>
{% endif %}

{% for category in CRUD.Items %}
<div class="banner-category">
    <div class="category-name">
        <div class="controls pull-right">
            <button type="button" class="btn btn-primary btn-create-banner" data-category-id="{{category.id}}">新增橫幅</button>

            {% if CRUD.Object.canEdit %}
            <input 
                type="button"
                class="btn btn-primary btn-edit-category"
                data-category-id="{{category.id}}"
                value="{% trans 'Edit' %}"/>
            {% endif %}

            {% if CRUD.Object.canDelete %}
            <input type="button" 
                class="btn btn-primary category-delete" 
                onclick=" runAction( 'BannerBundle::Action::DeleteCategory',
                    { id: {{ category.id }}  },
                    { confirm: '確認刪除? ', remove: $(this).parents('.banner-category') } );" 
                value="{% trans 'Delete' %}"/>
            {% endif %}
        </div>

        <h3>{{category.name}}</h3>
        <kbd>{{category.handle}}</kbd>
    </div>
    <div id="banner-category-images-{{ category.id }}" 
        class="banner-category-images sortable"
        data-items=".cover"
        data-action="BannerBundle::Action::UpdateImageOrdering"
        data-fields=".cover input[type=hidden]"
        data-image-width="{{category.width}}"
        data-image-height="{{category.height}}">

        <div id="previewContainer{{category.id}}" class="cover pull-left" style="max-width: 100%;">
            <div id="dropzone{{category.id}}" class="dropzone fill"> </div>
            {% if category.width and category.height %}
                <img data-src="holder.js/{{category.width}}x{{category.height}}/auto" style="max-width: 100%;"/>
            {% elseif category.width or category.height %}
                {% if category.width %}
                    <img data-src="holder.js/120x120/text:{{category.width}} x Any/auto" style="max-width: 100%;"/>
                {% else %}
                    <img data-src="holder.js/120x120/text:Any x {{category.height}}/auto" style="max-width: 100%;"/>
                {% endif %}
            {% else %}
                <img data-src="holder.js/300x150/text:Any Size" style="max-width: 650px;"/>
            {% endif %}
        </div>
        <script>
        $(function() {
            Holder.run({images: $('#previewContainer{{category.id}} img').get(0) });

            var $container = $('#previewContainer{{category.id}}');
            var $dropzone = $container.find('.dropzone');

            var $progress = $('<div/>').addClass("upload-progress")
                $progress.hide().appendTo($container);

            var uploader = new FiveKit.DropBoxUploader({ 
                el: $dropzone,
                queueEl: $progress,
                action: 'CoreBundle::Action::Html5Upload',
                onDrop: function(e) {
                    $progress.empty().show();
                },
                onTransferComplete: function(e,result) {
                    if ( result.success ) {
                        if ( result.data && result.data.file ) {
                            runAction('BannerBundle::Action::CreateImage',{
                                image: result.data.file,
                                title: (result.data.basename || 'Untitled'),
                                category_id: {{category.id}}
                            });
                        } else {
                            console.error('Missing data');
                        }
                    }
                },
                onTransferFinished: function(e) {
                    $progress.fadeOut()
                    Region.of($container).refresh()
                }
            });
        });
        </script>
        <div class="clearfix"> </div>

        {% if category.remark %}
        <div class="clearfix">{{category.remark}}</div>
        {% endif %}

        {% set images = category.getImages() %}
        {% if not images.size() %}
            <div class="no-data">{% trans '目前這個類別無圖片資料' %}</div>
        {% endif %}
        {% for item in images %}
            {% include '@BannerBundle/banner_image/image.html' %}
        {% endfor %}


        <div class="clear"> </div>
    </div>
    <div class="clear"> </div>


    {#
    <div id="dropbox-container-{{ category.id }}" class="dropbox-container">
    </div>
    <script type="text/javascript">
    $(function() {
        var $container = $('#dropbox-container-{{ category.id }}');
        var $detector = $('#banner-category-images-{{ category.id }}');
        var conn = new FiveKit.DropBoxActConnection({
            container: $container,
            detector:  $detector,
            uploadAction: 'CoreBundle::Action::Html5Upload',
            onTransferFinished: function(e) {
                Region.of( $detector.get(0) ).refresh()
            },
            onTransferComplete: function(resp) {
                runAction('BannerBundle::Action::CreateImage',{
                    image: resp.data.file,
                    category_id: {{category.id}}
                });
            }
        });
    });
    </script>
    #}

</div>
{% endfor %}
<div class="clear"> </div>

<script>
// initialize sortable
$(function() {

  $('.btn-create-banner').click(function() {
    var btn = this;
    var categoryId = $(this).data('category-id');
    var defer = CRUDRelModal.open("新增橫幅",  "/bs/banner_image/crud/edit", { 'category_id': categoryId }, { size: 'large' } );
    defer.done(function() {
      Region.of(btn).refresh();
    });
  });

  $('.btn-edit-category').click(function() {
    var categoryId = $(this).data('category-id');
    var defer = CRUDRelModal.open("編輯橫幅類別",  "/bs/banner_category/crud/edit", { 'id': categoryId });
    defer.done(function() {
      Region.of(btn).refresh();
    });
  });

  $('.cover > .remove').click(function() {
      var id = $(this).data('recordId');
      runAction( 'BannerBundle::Action::DeleteImage', { id: id }, { confirm: '確認刪除? ', remove: $(this).parents('.cover') } );
      return false;
  });

  $('.cover .edit').click(function() {
      var id = $(this).data('recordId');
      var defer = CRUDRelModal.open("編輯橫幅",  "/bs/banner_image/crud/edit", { id: id }, { size: 'large' } );
      return false;
  });

  $('.sortable').each(function(i,e) {
    initSortableAction($(this), {
      onUpdate: function(resp) {
        if ( window.console ) {
          console.log(resp);
        }
      }
    });
  });
});
</script>
{% endblock %}
