{% extends '@CRUD/edit.html.twig' %}

{% set currentFormId = uniqid('editForm') %}

{% block section_body %}
<div class="action-result-container"> </div>
<form id="{{currentFormId}}" class="ajax-action form-horizontal" enctype="multipart/form-data" method="POST">

    {{ RecordAction.renderSignatureWidget|raw }}
    {{ RecordAction.renderCSRFTokenWidget|raw }}

    {% if Record.hasKey() %}
        {{ RecordAction.renderKeyWidget|raw }}
    {% endif %}

    <div class="row">
      <div class="col-md-6">
        {{ RecordAction.renderField('image') |raw }}
      </div>
      <div class="col-md-6">
      {% if Bundle.config('BannerImage.thumb') %}
        {{ RecordAction.renderField('thumb') |raw }}
      {% endif %}
      </div>
    </div>

    {% if Bundle.config('BannerImage.category') %}
        {{ RecordAction.renderField('category_id') |raw }}
    {% endif %}

    {% if Bundle.config('BannerImage.title') %}
        {{ RecordAction.renderField('title') |raw }}
    {% endif %}
    {% if Bundle.config('BannerImage.subtitle') %}
        {{ RecordAction.renderField('subtitle') |raw }}
    {% endif %}

    {% if Bundle.config('BannerImage.link') %}
        {{ RecordAction.renderField('link') |raw }}
    {% endif %}

    {{RecordAction.renderField('comment') |raw}}
</form>
{% endblock %}
